.cardContent {
  width: 100%;
}
.reviews {
  position: relative;
  overflow-y: auto;
  height: 4in;
}
.reviewDivider {
  border-bottom: 1px solid #e7e7e7;
}
.reviewName {
  float: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.reviewRating {
  text-align: right;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #3fe09a;
}
.reviewMessage {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-top: 2%;
}
.romb {
  position: absolute;
  left: 22%;
  top: 25%;
  width: 56%;
  height: 56%;
}
.percent {
  margin-top: 30%;
  color: white;
  z-index: 2;
  position: relative;
}
.vkLike {
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  .romb {
    top: 32%;
  }
}
@media (max-width: 768px) {
  .romb {
    top: 40%;
  }
}
@media (min-width: 2560px){
  .percent {
    margin-top: 35%;
  }
  .percentName {
    font-size: 100px;
  }
}
