.romb {
  position: absolute;
  left: 22%;
  top: 25%;
  width: 56%;
  height: 56%;
}
.percent {
  margin-top: 30%;
  color: white;
  z-index: 2;
  position: relative;
}
@media (max-width: 1024px) {
  .romb {
    top: 32%;
  }
}
@media (max-width: 768px) {
  .romb {
    top: 40%;
  }
}
@media (min-width: 2560px){
  .percent {
    margin-top: 35%;
  }
  .percentName {
    font-size: 100px;
  }
}
